.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dotnet/
.gitconfig
.gnupg/
.lesshst
.local/
.pki/
.profile
.python_history
.sudo_as_admin_successful
.vscode/
.wget-hsts
Desktop/
Downloads/
microsoft.gpg
snap/
